@import "tailwindcss";
@import "./safelist.css";
@source "../../node_modules/@orcative/ui";
@custom-variant dark (&:is(.dark *));


@layer base {
  :root {
    --background: oklch(98.5% 0 0deg);
    --foreground: oklch(14.5% 0 0deg);
    --primary: oklch(48.8% 0.243 264.376deg);
    --primary-foreground: oklch(62.3% 0.214 259.815deg);
    --muted: oklch(97.015% 0.0011 271.152deg);
    --muted-foreground: oklch(55.553% 0.0006 271.152deg);
    --border: oklch(14.5% 0 0deg);
    --radius: 0rem;
    --duration: 0.25s;
    --transition-easing: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .dark {
    --background: oklch(14.5% 0 0deg);
    --foreground: oklch(98.5% 0 0deg);
    --neutral-foreground: oklch(97% 0 0deg);
    --border: oklch(100% 0 0deg);
  }

  body {
    @apply bg-background text-foreground;
  }
}


@theme inline {
  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --duration-default: var(--duration);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
}

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}